apiVersion: v1
kind: ConfigMap
metadata:
  name: urls-map
  namespace: link
  labels:
    app: link
data:
  urls.yaml: |
    mn: https://marcusnoble.co.uk
    whites: https://twitter.com/whites11/status/1484053621448785920
    devopsnotts22: https://noti.st/averagemarcus/E8Ldoh/managing-kubernetes-without-losing-your-cool
    kubernetes-cool: https://noti.st/averagemarcus/E8Ldoh/managing-kubernetes-without-losing-your-cool
    klustered: https://gist.githubusercontent.com/AverageMarcus/e58301ecf3455caa1638c3ffe70ed138/raw/klustered.sh
    wonders-and-woes: https://noti.st/averagemarcus/sWywEJ/the-wonders-and-woes-of-webhooks
    kubehuddle: https://noti.st/averagemarcus/TqCEd4/the-wonders-and-woes-of-webhooks
    kcduk: https://noti.st/averagemarcus/fxN4gl/managing-kubernetes-without-losing-your-cool
    wonders-and-woes-webinar: https://noti.st/averagemarcus/Hw2IXG/the-wonders-and-woes-of-webhooks
    kcdukraine: https://noti.st/averagemarcus/quuysq/managing-kubernetes-without-losing-your-cool
    devopsox23: https://noti.st/averagemarcus/quuysq/managing-kubernetes-without-losing-your-cool
    dddem23: https://noti.st/averagemarcus/Rt4hFh/managing-kubernetes-without-losing-your-cool
    kube-london: https://noti.st/averagemarcus/SFD1bY/the-wonders-and-woes-of-webhooks
    kcduk23: https://noti.st/averagemarcus/4YvpTx/webhooks-whats-the-worst-that-could-happen
    rejekts23: https://noti.st/averagemarcus/Bi7qLP/webhooks-whats-the-worst-that-could-happen
    rejekts24: https://speaking.marcusnoble.co.uk/pg46DB/from-fragile-to-resilient-validatingadmissionpolicies-strengthen-kubernetes
    lopug24: https://speaking.marcusnoble.co.uk/I6dyx4/webhooks-whats-the-worst-that-could-happen
    kcduk24: https://speaking.marcusnoble.co.uk/0qcuN9/from-fragile-to-resilient-validatingadmissionpolicies-strengthen-kubernetes
    rejektsna24: https://speaking.marcusnoble.co.uk/dALiFY/from-fragile-to-resilient-validatingadmissionpolicies-strengthen-kubernetes
    kcddk24: https://speaking.marcusnoble.co.uk/FU4W7x/from-fragile-to-resilient-validatingadmissionpolicies-strengthen-kubernetes
    cndoslo: https://speaking.marcusnoble.co.uk/j5M53P/from-fragile-to-resilient-validatingadmissionpolicies-strengthen-kubernetes
    rejekts25: https://speaking.marcusnoble.co.uk/AXARFf/pod-deep-dive-everything-you-didnt-know-you-needed-to-know
    kcdbudapest: https://speaking.marcusnoble.co.uk/43QLpx/the-future-of-kubernetes-admission-logic
    kcdczechslovak: https://speaking.marcusnoble.co.uk/Np2xUv/pod-deep-dive-the-interesting-bits
    cnsmunich: https://speaking.marcusnoble.co.uk/HqYcp2/pod-deep-dive-the-interesting-bits
    cnsmunich-feedback: https://yay-or-nay.cluster.fun/feedback/20UETBI0
    containerdays25: https://speaking.marcusnoble.co.uk/HARSlE/the-future-of-kubernetes-admission-logic
    containerdays25-feedback: https://yay-or-nay.cluster.fun/feedback/F8P351QK
    cdl-2026: https://speaking.marcusnoble.co.uk/lMcEwR/pod-deep-dive-the-interesting-bits
    cdl-2026-feedback: https://yay-or-nay.cluster.fun/feedback/EMLARINI
    cdl-talk-2026: https://speaking.marcusnoble.co.uk/0rRvmv/debugging-your-conference-talk-practical-tips-to-resonate-with-your-audience
    cdl-talk-2026-feedback: https://yay-or-nay.cluster.fun/feedback/22TO05MQ
    technical-talking-blog-post: https://marcusnoble.co.uk/2025-04-30-my-tips-on-giving-technical-talks/
    kubecon-eu-26: https://speaking.marcusnoble.co.uk/zT471P/kube-oddities-the-quirks-that-keep-kubernetes-interesting
---
apiVersion: v1
kind: Service
metadata:
  name: link
  namespace: link
  labels:
    app: link
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: web
    name: web
  selector:
    app: link
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: link
  namespace: link
  labels:
    app: link
  annotations:
    secret.reloader.stakater.com/reload: "urls-map"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: link
  template:
    metadata:
      labels:
        app: link
    spec:
      priorityClassName: critical
      containers:
      - name: web
        image: rg.fr-par.scw.cloud/averagemarcus/link:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5050
          name: web
        volumeMounts:
          - name: config
            mountPath: /config
      volumes:
        - name: config
          configMap:
            name: urls-map
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: link
  namespace: link
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - go-get.link
    secretName: link-ingress
  rules:
  - host: go-get.link
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: link
            port:
              number: 80
